Backup/
Source/Code/.vs/
Source/Code/CorePlugin/bin
Source/Code/CorePlugin/obj
Source/Code/EditorPlugin/obj
Source/Code/EditorPlugin/obj
logfile.txt
logfile_editor.txt
logfile_editor_prev.txt
perflog.txt
perflog_editor.txt